body {
    display: grid;
    justify-content: center;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #3e2d2d;
}

.chart {
    margin-top: 5rem;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    border: 1px solid black;
}

.process {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    text-align: center;
    background-color: rgb(247, 171, 85);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.slots {
    display: flex;
    flex-grow: 1;
    background-color: white;
}

.slot {
    width: 3rem;
    height: 3rem;
    border: 1px solid #130b0b;
    box-sizing: border-box;
}

.filled {
    background-color: #4CAF50;
    /* height: 3rem;
    width: 3rem; */
}

.wait {
    background-color: #FEFBD8;
    /* height: 3rem;
    width: 3rem; */
}

h1{
    height: 2rem;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    word-spacing: 1rem;
}

hr{
    width: 20vw;
}

